<!DOCTYPE html>
<html>

<head>
    <title>Gentleman</title>
    <!--<link href='style.css' rel='styleshe'>*/-->
   
    <style>
        body { font-family: Consolas, sans-serif; }
        div { text-align: center; }
        h1 { margin: 30px 0px; text-align: center; }
        
      </style>
    
</head>
<body>
    <div class="img">
        <a href="https://www.google.com/">
            <img src="https://scontent-ssn1-1.xx.fbcdn.net/v/t1.6435-9/37161702_2088207268100313_1489835201914732544_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=973b4a&_nc_ohc=xkXLcyxHOhoAX_XSUqA&_nc_ht=scontent-ssn1-1.xx&oh=00_AT-cXHRdmXJwYyJIEoMzAcLjUwNA--CKuZ16FinKtTVUDQ&oe=62FC91F7" alt="Gentleman">
        </a>
       
    </div>
    
</body>
</html>